   @namespace FlawlessByDesign
 @page "/shop/jewelry"

<link href="css/index.css" rel="stylesheet" />
<link href="css/shop.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Barlow+Condensed&family=Bebas+Neue&family=Cinzel&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans&family=Lato&family=Merriweather&family=Montserrat&family=Nanum+Myeongjo&family=Nunito&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">

<FlawlessByDesign.Components.NavBranded />

<div>
    <h1 class="brand-wine">
        Natural Beauty<br /><span class="brand-wine-subtle"> Jewelry </span>
    </h1>
    <h1>Shop Natural Beauty Jewelry</h1>
</div>
<div class="item-grid">
    <img class="item-card" src="images/jewelry/sample.jpg" alt="Vintage White" />
    <img class="item-card" src="images/jewelry/sample.jpg" alt="Vintage White" />
</div>
