@namespace FlawlessByDesign
@page "/shop"

<link href="css/index.css" rel="stylesheet" />
<link href="css/shop.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Barlow+Condensed&family=Bebas+Neue&family=Cinzel&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans&family=Lato&family=Merriweather&family=Montserrat&family=Nanum+Myeongjo&family=Nunito&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">

<FlawlessByDesign.Components.NavBranded />

<h1 class="brand-name">
    Flawless<br /><span class="brand-subtle"> by </span>Design
</h1>
<h1>Featured Items</h1>

<main class="category-clothing">

    <section class="item-grid">
        <!-- Repeat for each clothing item -->
        <div class="item-card clothing">
            <img src="images/clothing/0168.png" alt="Elegant Dress by LaDonna White - Flawless by Design" />
            <h3>Elegant Dress</h3>
            <p>$129</p>
        </div>
        <div class="item-card clothing">
            <img src="images/clothing/0589.png" alt="Chic Blazer by LaDonna White - Flawless by Design" />
            <h3>Chic Blazer</h3>
            <p>$98</p>
        </div>
        <div class="item-card clothing">
            <img src="images/clothing/0589.png" alt="Chic Blazer by LaDonna White - Flawless by Design" />
            <h3>Chic Blazer</h3>
            <p>$98</p>
        </div>
        <div class="item-card clothing">
            <img src="images/clothing/0589.png" alt="Chic Blazer by LaDonna White - Flawless by Design" />
            <h3>Chic Blazer</h3>
            <p>$98</p>
        </div>
        <div class="item-card clothing">
            <img src="images/clothing/0168.png" alt="Elegant Dress by LaDonna White - Flawless by Design" />
            <h3>Elegant Dress</h3>
            <p>$129</p>
        </div>
        <div class="item-card clothing">
            <img src="images/clothing/0168.png" alt="Elegant Dress by LaDonna White - Flawless by Design" />
            <h3>Elegant Dress</h3>
            <p>$129</p>
        </div>
    </section>
</main>

<!-- Pages/ShopWine.razor -->

<main class="category-wine">

    <section class="item-grid">
        <!-- Repeat for each wine item -->
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
    </section>
</main>
