   @namespace FlawlessByDesign
 @page "/shop/wine"

<link href="css/index.css" rel="stylesheet" />
<link href="css/shop.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Barlow+Condensed&family=Bebas+Neue&family=Cinzel&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans&family=Lato&family=Merriweather&family=Montserrat&family=Nanum+Myeongjo&family=Nunito&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Raleway&family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">

<FlawlessByDesign.Components.NavBranded />

<h1 class="brand-wine">
    Natural Beauty<br /><span class="brand-wine-subtle"> Wines </span>
</h1>
<h1>Shop Natural Beauty Wines</h1>

<main class="category-wine">

    <section class="wine-grid">
        <!-- Repeat for each wine item -->
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Red Reserve by LaDonna White - Flawless by Design" />
            <h3>Red Reserve</h3>
            <p>$49</p>
        </div>
        <div class="item-card wine">
            <img src="images/wine/image1.jpg" alt="Vintage White by LaDonna White - Flawless by Design" />
            <h3>Vintage White</h3>
            <p>$54</p>
        </div>
    </section>

</main>
