<nav class="top-nav">
    <a href="/">Home</a>
    <a href="/shop/clothing">Clothing</a>
    <a href="/shop/wine">Wine</a>
    <a href="/shop/candle">Candles</a>
    <a href="/shop/jewelry">Jewelry</a>
    <a href="/profile">Modeling</a>
    <a href="/contact">Contact & About</a>
 @*    <a href="/colortest">Colors</a> *@
</nav>